.subText{
  font-size: 0.8rem;
  color: gray;
  
}


.App{
 
  height: calc(100vh-90px);
  display: flex;
}

.SideBar{
  width: 228px;
  height: 100vh;
  background:black;
  display: flex;
  flex-direction: column;
}

.divider{
  width: 50%;
  height: 1px;
  border-radius: 1px;
  background-color: gray;

}

ul{
  margin: 0;
  padding: 0;
  color: white;
}

ul li{

  list-style-type: none;
  border-radius: 5px;
  color: grey;
  text-decoration: none;
  font-size: 12px ;
  display: block;
  font-weight: 700;
  cursor: pointer;
  padding: 7px;

}

ul li .active{
  background: lightgray;
}

ul li:hover{
color: white;
}

.outerWrap{
  background: rgb(26, 24, 24);
  height: 100vh;
  min-height: 100%;
}

.SideBar .logo{
  width: 150px;
  height: 100px;
  overflow: hidden;
}

.SideBar .logo img{
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}

.SideBar .main-menu .menu-item{
  color: grey;
  text-decoration: none;
  font-size: 15px ;
  display: block;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  font-family: circular-bold;
}


.SideBar .main-menu .menu-item .menu-icons{
  display: inline-block;
  width: 70px;
  height: 20px;
  
}

/* .menu-icons .Home-active:active{
  color:white
} */

.musicControls{
  background:rgb(32, 30, 30);
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top:1px solid black;
  
  /* position: fixed; */
}

.Header{
  background: rgb(3, 3, 3);
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  color:white;
  padding: 0.5rem 2rem;
}

.main{
  width:100%;
  /* overflow-y: scroll ; */
}

.main .mainContent{
    color: white;
    padding : 1rem 2rem;
}

.main .h1{
  font-size: 1rem;
}
.main .h6{
  font-size: 1rem;
  margin-top: 0%;
}

.cardWrap .card{
  border-radius: 10px;
  background: rgb(31, 30, 30);
  padding: 20px 20px 20px 20px;
  /* cursor: pointer; */
  width: 200px;
  overflow: hidden;
  top: 15px;
  padding-bottom: 2rem ;
}

.cardImage {
    height: 130px;
    width: 150%;
}

.cardImage img{
  width: 65%;
  height: 70%;
  object-fit: cover;
  
}

.card:not(.cardImage):hover{
  background: rgb(47, 45, 45);

}

.cardContent .h6{
  font-weight: 600;
}



